:host {
  box-sizing: content-box;
  display: table;
  margin: 0 auto;
  width: var(--grid-max-width);
}
:host(.measure) {
  display: inherit;
  width: calc(100% - var(--grid-outter-padding-border));
}
:host > #container {
  padding: 0;
  max-width: var(--grid-max-width);
  margin: var(--grid-gutter);
  @apply(--layout-horizontal);
  @apply(--layout-wrap);
  @apply(--grid-layout);
}
:host([columns="1"]) > #container {
  max-width: none;
}
:host([no-outer-gutter]) > #container {
  max-width: calc(var(--grid-max-width) + 2 * var(--grid-gutter));
  margin: -var(--grid-gutter);
}
:host > #container > ::content > * {
  @apply(--layout-flex-none);
  width: var(--grid-column-width);
  height: var(--grid-row-height);
  margin: var(--grid-gutter);
  box-sizing: border-box;
}
:host([columns="1"][responsive-when-narrow]) > #container > ::content > * {
  max-width: none;
  width: calc(100% - 4 * var(--grid-gutter))  !important;
}
