:host {
  box-sizing: content-box;
}
:host(:not(.controlled-width)) {
  display: inherit;
  width: calc(100% - var(--grid-outter-padding-border));
}
:host(.controlled-width) {
  display: table;
  margin: 0 auto;
}
:host > #container {
  @apply(--layout-horizontal);
  @apply(--layout-wrap);
  @apply(--grid-layout);
  padding: 0;
}
:host > #container.controlled-width {
  max-width: var(--grid-max-width);
}
:host > #container > ::content > * {
  @apply(--layout-flex-none);
  width: var(--grid-column-width);
  height: var(--grid-row-height);
  margin: var(--grid-gutter);
  box-sizing: border-box;
}
:host([columns="1"]) > #container {
  max-width: none;
}
:host([columns="1"][responsive-when-narrow]:not(.controlled-width)) > #container > ::content > * {
  max-width: none;
  width: calc(100% - 2 * var(--grid-gutter))  !important;
}
:host([no-outer-gutter]) > #container {
  margin: calc(var(--grid-gutter) * -1);
}